@model Tp_Pweb_22_23.Models.EstadoVeiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar novo estado</h1>

<h4>Estado do Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Entrega" /> @Html.DisplayNameFor(model => model.Entrega)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Leventamento" /> @Html.DisplayNameFor(model => model.Leventamento)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NumeroKm" class="control-label"></label>
                <input asp-for="NumeroKm" class="form-control" />
                <span asp-validation-for="NumeroKm" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Danos" /> @Html.DisplayNameFor(model => model.Danos)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioId" class="control-label"></label>
                <input asp-for="FuncionarioId" class="form-control" />
                <span asp-validation-for="FuncionarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservaId" class="control-label"></label>
                <select asp-for="ReservaId" class ="form-control" asp-items="ViewBag.ReservaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
