@page
@model LockoutModel
@{
    ViewData["Title"] = "Bloqueada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta conta foi desativada. Se considera tratar-se de um erro, por favor contacte um Gestor da empresa.</p>
</header>
