@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <style>
        .carousel-caption{
            top: 0;
            bottom: auto;

        }

    </style>

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-5">
                        B E M - V I N D O <br /><img src="/img/rentcar-removebg-preview.png" alt="Bootstrap" width="475" height="130">
                        <br /><br /> <br /><br /> <br /><br />
                    </h1>
                     <h2 class="display-9"> Aluguer de automóveis - Pesquise, compare e poupe.</h2>
                </div>
                <img src="/img/1.jpg" class="d-block w-100" alt="..."> 
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-5">
                        B E M - V I N D O <br /><img src="/img/rentcar-removebg-preview.png" alt="Bootstrap" width="475" height="130">
                        <br /><br /> <br /><br /> <br /><br />
                    </h1>
                    <h2 class="display-9"> Os melhores automóveis.</h2>
                </div>
                <img src="/img/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-5">
                        B E M - V I N D O <br /><img src="/img/rentcar-removebg-preview.png" alt="Bootstrap" width="475" height="130">
                        <br /><br /> <br /><br /> <br /><br />
                    </h1>
                    <h2 class="display-9"> Aos melhores preços.</h2>
                </div>
                <img src="/img/3.jpg" class="d-block w-100" alt="...">
            </div>
             <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-5">
                        B E M - V I N D O <br /><img src="/img/rentcar-removebg-preview.png" alt="Bootstrap" width="475" height="130">
                        <br /><br /> <br /><br /> <br /><br />
                    </h1>
                    <h2 class="display-9"> Das melhores empresas.</h2>
                </div>
                <img src="/img/4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-5">
                        B E M - V I N D O <br /><img src="/img/rentcar-removebg-preview.png" alt="Bootstrap" width="475" height="130">
                        <br /><br /> <br /><br /> <br /><br />
                    </h1>
                    <h2 class="display-9"> Para os melhores clientes.</h2>
                </div>
                <img src="/img/5.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="display-5">
                        B E M - V I N D O <br /><img src="/img/rentcar-removebg-preview.png" alt="Bootstrap" width="475" height="130">
                        <br /><br /> <br /><br /> <br /><br />
                    </h1>
                    <h2 class="display-9"> Escolha o seu automóvel preferido e reserve-o agora!</h2>
                </div>
                <img src="/img/6.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div>
        <form method="post" asp-action="Search" class="row gx-4 gy-2 align-items-centerneeds-validation" novalidate>
        <div class="col-sm-3">
            <label class="visually" for="specificSizeInputName">Localização</label>
                <input type="text" name="Localizacao" class="form-control" id="specificSizeInputName" placeholder="Porto">
            </div>
        <div class="col-sm-3">
            <label class="visually" for="specificSizeInputName">Data de Recolha</label>
            <input type="date" name="DataRecolha" class="form-control" placeholder="Data de Recolha">
        </div>
        <div class="col-sm-3">
            <label class="visually" for="specificSizeInputName">Data de Entrega</label>
            <input type="date" name="DataEntrega" class="form-control" placeholder="Data de Entrega">
        </div>
        <div class="col-sm-3">
                <label class="control-label"></label>
                <select name="IdCategoria" class="form-control" asp-items="@(ViewData["CategoriaId"] as SelectList)"></select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </form>
    </div>
</div>
